// margin-top: 2%;
//     margin-left: 1%;
//     border-radius: 3px;
//     min-width: 98%;
//     padding-bottom: 11px;
//     background: rgb(255, 255, 255);
//     box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
//     width: 90%;

#paymentReceipt{
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 3px;
    min-width: 98%;
    padding-bottom: 11px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    width: 90%;
}