.forgot-passwd .label-text {
  font-weight: 500;
  letter-spacing: 0.6px;
  color: #f89a3f;
  margin-top: 8px;
  text-align: right;
  margin-bottom: 24px;
  text-transform: uppercase;
  /* margin-right: 14px; */
}
.web-user-logo {
  display: none;
}

.employee-login-logo {
  width: 45%;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .web-user-logo {
    display: block;
  }
}



.refresh-loop-div {
  // @media (min-width:700px) {
    width:"100%" !important;
    display:"flex" !important; 
    justify-content:"end" !important;
    align-items:"center" !important;
  // }
}

.material-icons{
  cursor:  pointer!important;
}

 .text-center .label-text {
    color: "#0C3A60" !important;
  }


.mn-content{
   display: flex;
   justify-content: center;
   margin-top: 0;
   margin-bottom: 2%;
}

.login-card{
  gap: 8% !important;
  display: flex !important;
  margin-left: 12% !important;
  width: 40% !important;
  padding: 25px 28px !important;
  border-radius: 5px  !important;
}

.left-emblem{
  display: flex;
  align-items: anchor-center;
}

.login-emblem-img{
  width: "auto" !important;
  height: 103px !important; 
  padding: 0px 11px !important;
}

.main-login-header{
  font-size: 27px !important;
  margin-left: 12px !important; 
  margin-top: 17px !important;
  font-weight: 500 !important;
}

.inside-left-dv{
   margin-bottom: 20px !important;
   display:flex !important;
    justify-content: center !important;
  margin-top: 8px !important;
  align-items: center !important;   
}

@media only screen and (max-width: 700px) {
  .mn-content{
    flex-direction: column;
    align-items: center; /* optional */
    position: relative;
    top:11rem;
}

  .login-card{
    width:100% !important;
    margin-left: 0% !important;
  }

  .left-emblem{
    margin-left: 0%;
  display: "flex";
  align-items: "anchor-center";
}

.login-emblem-img{
  width: auto !important;
  height: 88px !important; 
  padding: 0px 11px !important;
}

.main-login-header{
  font-size: 22px !important;
  margin-left: 12px !important; 
  margin-top: 17px !important;
  font-weight: 500 !important;
}
.inside-left-dv{
   margin-bottom: 5px !important;
   display:flex !important;
    justify-content: center !important;
  margin-top: 8px !important;
  align-items: center !important;   
}
}




