.jk-footer {
    position: fixed;
    width: 100%;
    right: 0;
    bottom: 0;
    height: 2.5em;
    --bg-opacity: 1;
    background-color: #f4f7fb;
    padding-bottom: 16px;
    padding-top: 8px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 50;
    display: flex;
  }
  
  .jk-footer-image-cursor {
    cursor: pointer;
  }
  
  input[type="date"]{
    cursor: pointer;
  }
  input[type="date" i] {
    cursor: pointer;
  }

  .footer-new-style {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: nowrap;
  }

  .btm-cpyrt-txt{
    color:rgb(12, 58, 96) !important;
    font-size: 13px !important;
    font-weight: 400 !important; 
    font-style: italic; 
    
  }

  /* Mobile / responsive */
@media (max-width: 768px) {
    .footer-new-style {
        flex-direction: column;
        gap: 4px;
    }

    .copyright-text-partition {
        display: none; /* hide the | when stacked */
    }
}
  .copyright-text {
    color:rgb(12, 58, 96) !important;
    cursor: "pointer" !important;
    font-size: "16px" !important;
    font-weight: "400" !important;  
  }

   @media (max-width: 500px){
    .copyright-text {
      color:rgb(12, 58, 96) !important;
    cursor: "pointer" !important;
    font-size: "16px" !important;
    font-weight: "400" !important;  
    }
  }

